.nuevoComentario {
    display: flex;
    margin-bottom: 30px;
}
.textAreaComentario {
    display: block;
    resize: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #000;
    height: 40px!important;
    width: 80%!important;
}

.botonesComentario {
    display: flex;
    justify-content: end;
    width: 80%!important;
}

.botonesComentario button{
    margin-top: 25px;
    margin-left: 30px;
}

.cajaComentarios {
    padding-left: 50px;
}

.segundaCajaComentarios {
    width: 80%!important;
}

.tituloComentarios  {
    margin-bottom: 35px;
}