.seccionHomeFoto {
    max-width: 100%;
}

.seccionHomeTexto {
    padding-top: 20px;
    font-size: clamp(14px, 1.5vw, 22px); 
}

.mitad1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.mitad2 {
    text-align: center;
    margin-top: 20px;
}