.seccionHomeFoto {
    max-width: 100%;
}

.seccionHomeTexto {
    padding-top: 20px;
    font-size: clamp(14px, 1.5vw, 22px); 
}

.seccion {
    padding: 50px;
    align-items: center;
    justify-content: center;
    margin-right: 0px !important;
}