.linea hr {
    color: white;
    background-color: white;
    height: 3px;
    border: 1px solid white;
}

.linea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.text-carousel{
    font-size: clamp(14px, 1.5vw, 22px); 
}
.caja-carousel{
    padding: 30px 0px;
}