.cardEmpresa {
    text-align: center;
    margin: auto;
    width: 65%;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 50px;
    padding-bottom: 15px;
}

.colorAzul {
    color: #149ECA;
}

.fotoCard {
    max-width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.tituloCard {
    padding-top: 10px;
    text-align: center;
}

.notaCard {
    margin: 0px;
    text-align: center;
}

.imgtecnoCard {
    max-width: 40px;
    padding: 5px;
}

.seccionCard {
    margin: 10px 0px;
}