html{
height: 100%;
}
.datosPerfil{
    margin: 50px 20%;
}
.imgPerfil {
    min-width:140px;
    width: 100%; 
    max-width: 250px;
    aspect-ratio: 1/1; /* Asegura que la altura sea igual a la anchura */
    border-radius: 100%; 
    object-fit: cover; 
    margin: 10px 0; 
}
.avatares-perfil{
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
}
.caja-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.caja-general{
    padding-left: 30px;
}
.aniadir{
    width: 50px;
    height: 50px;
}
.imgAgregar {
    position: absolute;
    bottom: 40px; /* Ajusta según sea necesario */
    right: 20px; /* Ajusta según sea necesario */
    width: 40px; /* Ajusta según sea necesario */
    height: 40px; /* Ajusta según sea necesario */
    cursor: pointer; /* Opcional: cambia el cursor al pasar sobre la imagen */
}
@media (max-width: 768px) {
    .datosPerfil{
        margin: 50px 5%;
    }
}

@media (max-width: 900px) and (min-width: 700px) {
    .avatares-perfil {
        width: 40px;
        height: 40px;
    }
    .aniadir{
        width: 40px;
        height: 40px;
    }
}

@media (max-width:1552px) and (min-width: 1200px) {
    .avatares-perfil {
        width: 40px;
        height: 40px;
    }
    .aniadir{
        width: 40px;
        height: 40px;
    }
}


/* Ajustes para pantallas más pequeñas */
@media (max-width: 1200px) {
    .imgAgregar {
        bottom: 30px; /* Ajusta según sea necesario */
        right: 15px; /* Ajusta según sea necesario */
        width: 40px; /* Ajusta según sea necesario */
        height: 40px; /* Ajusta según sea necesario */
    }
}

@media (max-width: 768px) {
    .imgAgregar {
        bottom: 20px; /* Ajusta según sea necesario */
        right: 10px; /* Ajusta según sea necesario */
        width: 30px; /* Ajusta según sea necesario */
        height: 30px; /* Ajusta según sea necesario */
    }
}

/* Ajustes para pantallas muy pequeñas */
@media (max-width: 576px) {
    .imgAgregar {
        bottom: 40px; /* Ajusta según sea necesario */
        right: 5px; /* Ajusta según sea necesario */
        width: 20px; /* Ajusta según sea necesario */
        height: 20px; /* Ajusta según sea necesario */
    }
}
