.datosPerfil{
    margin: 50px 20%;
}
.imgPerfil {
    min-width:140px;
    width: 100%; 
    max-width: 250px;
    aspect-ratio: 1/1; /* Asegura que la altura sea igual a la anchura */
    border-radius: 100%; 
    object-fit: cover; 
    margin: 10px 0; 
}
@media (max-width: 768px) {
    .datosPerfil{
        margin: 50px 5%;
    }
}