.contenido{
   min-height: 83vh;
}

.formularioSoporte {
    margin-bottom: 20px;
}

.formularioSoporte input {
    display: block;
    width: 65%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    margin: auto;
    margin-top: 20px;
}

.formularioSoporte textarea {
    display: block;
    width: 65%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    resize: none;
    margin: auto;
    margin-top: 20px;
}

.fotoSoporte {
    max-width: 30%;
    margin-bottom: 50px;
}

.mitad {
    margin-top: 50px;
}

.mitad p {
    margin: auto;
    max-width: 80%;
}

.divBoton {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pFooter {
    padding: 30px;
    text-align: center;
    font-weight: normal;
    margin: auto;
}

.centrar {
    margin: auto;
}

.formularioEnviado {
    position: absolute;
    top: 35%;
    left: 50%;
    height: 20%;
    width: 30%;
    display: flex;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 5px solid black;
    border-radius: 20px;
}