.formularioSoporte input {
    display: block;
    width: 65%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    margin: auto;
    margin-top: 20px;
}

.formularioSoporte textarea {
    display: block;
    width: 65%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    resize: none;
    margin: auto;
    margin-top: 20px;
}

.fotoSoporte {
    max-width: 30%;
    margin-bottom: 50px;
}

.mitad {
    margin-top: 50px;
}

.divBoton {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.footer {
    margin-top: 75px;
}

.pFooter {
    padding: 30px;
    margin: auto;
    font-weight: normal;
}

.pantalla {
    min-height: 100vh;
}

.centrar {
    margin: auto;
}