.cardHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 280px;
    border-radius: 20px;
    background-color: white;
    padding: 30px 0px 0px 0px;
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.5);
}

.titleCardHome {
    margin-top: 10px;
    color: black;
}

.numberCardHome {
    color: #149ECA;
    font-weight: bolder;
    font-size: 4em;
}

.imgCardHome {
    margin: auto;
    max-width: 50%;
}