.carousel-item img {
    width: 100px;  /* Ajusta el ancho automáticamente */
    height: 100px; /* Altura fija para todos los logos */
    margin: auto; /* Centrar logos en el carrusel */
}
.img-carousel{
    width: 200px;  /* Ajusta el ancho automáticamente */
    height: 200px; /* Altura fija para todos los logos */
    margin: auto; /* Centrar logos en el carrusel */
}
