.cabeceraEmpresa {
    padding: 50px;
    border-radius: 10px;
}

.fotoCabeceraEmpresa {
    max-width: 80%;
    border-radius: 10px;
}
.textoCabeceraEmpresa {
    font-size: larger;
}

.centrarFoto {
    display: flex;
    justify-content: center;
}

.azulClaro {
    color: #149ECA;
}

.resaltar {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}
.separarAbajo {
    margin: 25px 0px;
}