.tituloSeccion {
    color: #149ECA;
    padding: 15px;
}

.centrar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.centrar2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.tituloFiltro {
    margin-bottom: 0px;
}

.centrarMovil {
    text-align: center;
}

.resetFiltros {
    padding: 10px;
    background-color: #ff4c4c;
    color: white;
    border-radius: 10px;
    border: none;
}

.newEmpresa {
    padding: 10px;
    background-color: #149ECA;
    color: white;
    border-radius: 10px;
    border: none;
}

@media (min-width: 768px) {
    .centrar {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: left;
        margin-left: 20px!important;
    }

    .centrar2 {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: left;
        margin-left: 20px!important;
        margin-bottom: 25px;
    }

    .centrarMovil {
        text-align: left;
    }
}