.barraLateral {
    background-color: #23272F;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 20%;
}

.tituloLateral {
    text-align: center;
    padding: 15px 0px;
    margin-bottom: 0px;
}

.iconoLateral {
    display: block;
    margin: auto;
    padding: 15px 30px;
}

.seccionEstadistica {
    display: flex;
    flex-direction: column;
}

.tituloGrafico {
    padding: 30px 0px;
}

.grupoTitulos {
    margin-top: auto;
    margin-bottom: auto;
}