.my-modal-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent; /* Para permitir que los estilos en línea tomen prioridad */
    padding: 1rem; /* Ajusta según sea necesario */
    border-bottom: none; /* Quitar el borde inferior */
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%; /* Para que el contenido ocupe todo el ancho disponible */
}
body.modal-open {
    padding-right: 0 !important;
}
.modal-content {
    border-radius: 20px;
}



/* INPUT FILE */

.container-input {
    text-align: center;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 100%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.iborrainputfile {
	font-size:16px; 
	font-weight:normal;
	font-family: 'Lato';
}

.inputfile-1 + label {
    color: #fff;
    background-color: #CBCBCB;
    border: 2px dotted black;
    border-radius: 5px;
    width: 100%;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #adadad;
}