.botonEnlace {
    background-color: #087EA4;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    display: flex;
    margin: auto;
}

.enlaceBoton {
    color: white;
    text-decoration: none;
    font-weight: bold;
}